---
import Layout from '../layouts/Layout.astro';
import Job from '../components/Job.astro';
---

<Layout title="Experience">
  <main>
    <Job
      title="Senior Software Engineer"
      company="Corneagen"
      dateRange="Sep-22 to Current"
      stack={['Node', 'React', 'MySQL']}
      description={[
        'Led the development of both the frontend (React) and backend (Node) of an internal product',
        'Rewrote substantial parts of the codebase in Typescript to guarantee type safety and reduce bugs',
        'Created testing requirements and worked with junior developers to build out tests',
        'Developed a micro-service to communicate inventory between Salesforce, NetSuite, and internal system',
        'Developed new features based on stakeholder requests',
        'Moved infrastructure to AWS resulting in a 30% reduction in infrastructure costs',
      ]}
    />
    <Job
      title="Software Engineer II"
      company="PMG Worldwide"
      dateRange="May-21 to Sep-22"
      stack={['React', 'Go', 'PHP', 'Postgres']}
      description={[
        'Created micro-frontend projects from scratch using Webpack, SingleSPA, and React',
        'Maintained and built out new backend features in both Go and PHP applications',
        'Worked with numerous API’s including Google Ads, Facebook Marketing, and Bing Ads',
        'Collaborated with product management in order to create clear and obtainable objectives',
        'Assisted new developers through pair programming and ad hoc meetings to overcome blocking issues',
        'Worked with numerous technologies in order to help team hit objectives',
      ]}
    />
    <Job
      title="Software Engineer"
      company="Explorastay"
      dateRange="Nov-20 to May-21"
      stack={['Python', 'Next.js', 'Postgres']}
      description={[
        'Developed website using Next.js/React displaying housing rentals in list and map format',
        'Developed client dashboards using Next.js/React to track metrics',
        'Developed backend servers using Python/Flask',
        'Built infrastructure in AWS',
        'Worked with external partner API’s and built out consolidated database',
      ]}
    />
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    line-height: 1.6;
  }
</style>
