---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Betori - Home">
  <main>
    <div>
      <h1>Collin</h1>
      <h1>Betori</h1>
      <ul role="list" class="link-card-grid">
        <Card href="/about/" title="About" />
        <Card href="/experience/" title="Experience" />
        <Card href="/education/" title="Education" />
        <Card href={import.meta.env.RESUME_LINK} title="Resume" newTab={true} />
        <Card
          href="https://www.linkedin.com/in/collinbetori/"
          title="LinkedIn"
          newTab={true}
        />
        <Card href="https://github.com/cbetori" title="GitHub" newTab={true} />
      </ul>
    </div>
  </main>
</Layout>

<style>
  main {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    line-height: 1.6;
  }

  h1 {
    font-size: clamp(3rem, 10vw, 5rem);
    font-weight: 700;
    line-height: 0.5;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .link-card-grid {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-top: 1vh;
    gap: 2rem;
  }
</style>
