---
import { ViewTransitions } from 'astro:transitions';
import Card from '../components/Card.astro';
interface Props {
	title: string;
}

const isHome = Astro.url.pathname === '/'
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/cb.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<h1>
		{isHome ? null: 
		<Card href='/' title='&larr; BACK'/>
		}
	</h1>
		<div class="wrapper">
		<slot />
	</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	@font-face {
		font-family: 'Retro';
		src: url('../fonts/retro.woff2') format('woff2');		
	}
	html {
		font-family: 'Retro', Sans-Serif;
		letter-spacing: .2rem;
		background-color: #23262d;
		background-size: 224px;
		height: 100%; 
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	.wrapper{
		margin:clamp(.5rem, 2.5vw, 3rem);
	}
</style>
